@using Microsoft.AspNetCore.Components.Authorization
@using Vetrina.Client.Services

@inherits LayoutComponentBase


@inject ApplicationState applicationState;

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Color="applicationState.MainThemeColor">
        <MudIconButton Icon="@Icons.Material.Filled.Brightness6" Color="Color.Inherit" Edge="Edge.End" OnClick="applicationState.SwitchColor" />
        <MudSpacer />

        <AuthorizeView>
            <Authorized>
                <p>Hi, @context.User.Identity?.Name</p>
                <MudButton Link="/"
                           Target="_self"
                           StartIcon="@Icons.Material.Filled.Home"
                           Color="Color.Inherit">НАЧАЛО</MudButton>
                <MudButton Link="/LogoutUser"
                           Target="_self"
                           StartIcon="@Icons.Material.Filled.Logout"
                           Color="Color.Inherit">ИЗХОД</MudButton>
            </Authorized>
            <NotAuthorized>
                <MudButton Link="/"
                           Target="_self"
                           StartIcon="@Icons.Material.Filled.Home"
                           Color="Color.Inherit">НАЧАЛО</MudButton>
                <MudButton Link="/LoginUser"
                           Target="_self"
                           StartIcon="@Icons.Material.Filled.Login"
                           Color="Color.Inherit">ВХОД</MudButton>
                <MudButton Link="/RegisterUser"
                           Target="_self"
                           StartIcon="@Icons.Material.Filled.HowToReg"
                           Color="Color.Inherit">РЕГИСТРАЦИЯ</MudButton>
            </NotAuthorized>
        </AuthorizeView>

        <MudBadge Content="applicationState.ShoppingList.Count()"
                  Color="Color.Tertiary"
                  Overlap="true"
                  Class="mx-6 my-4">

            <MudButton Link="/ShoppingList"
                       Target="_self"
                       EndIcon="@Icons.Material.Filled.FoodBank"
                       Color="Color.Inherit">СПИСЪК</MudButton>
        </MudBadge>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    protected override void OnInitialized()
    {
        this.applicationState.ShoppingListChanged += StateHasChanged;
    }

    public void Dispose()
    {
        this.applicationState.ShoppingListChanged -= StateHasChanged;
    }
}
